body {
 -webkit-font-smoothing: antialiased;
 margin: 0;
 padding: 25px;
 font-size: 20px;
 position: relative;
}

* {
 font-size: inherit;
 font-family: 'Helvetica Neue', sans-serif;
 font-weight: 400;
 line-height: 1.25;
 font-size: inherit;
}

nav {
 display: none;
}

header {
 margin: 1em 0 4em;
 overflow: hidden;
}

h1 {
 float: left;
 margin: 0;
}

header a {
 float: right;
}

li {
 clear: both;
 font-size: 200%;
 padding: 1em 0;
}

h2 {
 position: relative;
 float: right;
 width: 100%;
 margin-top: 0;
 border-top: 1px solid #ccc;
 padding-top: 18px;
 margin-top: 20px;
}

body {
 -webkit-font-smoothing: antialiased;
 margin: 0;
 padding: 25px;
 font-size: 20px;
 position: relative;
}

* {
 font-size: inherit;
 font-family: 'Helvetica Neue', sans-serif;
 font-weight: 400;
 line-height: 1.25;
 font-size: inherit;
}

nav {
 display: none;
}

ul.needs {
 display: block;
 padding: 0.5em 0;
 margin: 0;
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
}

.count-1 {
  width: 10em;
 }

.count-2 {
  width: 20em;
 }

.count-3 {
  width: 30em;
 }

.count-4 {
  width: 40em;
 }

.count-5 {
  width: 50em;
 }

.count-6 {
  width: 60em;
 }

.count-7 {
  width: 70em;
 }

.count-8 {
  width: 80em;
 }

.count-9 {
  width: 90em;
 }

.count-10 {
  width: 100em;
 }

.count-11 {
  width: 110em;
 }

.count-12 {
  width: 120em;
 }

.count-13 {
  width: 130em;
 }

.count-14 {
  width: 140em;
 }

.count-15 {
  width: 150em;
 }

.count-16 {
  width: 160em;
 }

.count-17 {
  width: 170em;
 }

.needs li {
  position: relative;
 display: black;
 width: 9em;
 min-height: 8em;
 margin: 0 1em 0.5em 0;
 padding: 0.5em;
 background: #e6fb86;
 overflow: hidden;
}

ul a {
 text-decoration: none;
 color: inherit;
}

.zoom ul a:hover,
.zoom ul a :focus {
  text-decoration: underline;
}

header {
 margin: 1em 0 4em;
 overflow: hidden;
}

h1 {
 float: left;
 margin: 0;
}

header > a {
 float: right;
}

h2 {
 position: relative;
 float: right;
 margin-right: -100%;
 right: 100%;
 width: 20%;
 padding-right: 80%;
 margin-top: 0;
 border-top: 1px solid #ccc;
 padding-top: 18px;
 margin-top: 20px;
}

h3 {
 margin: 0 0 0.5em;
 font-size: 20px;
}

h4 {
 margin: 0 0 1em;
}

div {
  position: relative;
  margin-left: 25%;
    font-size: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
  clear: left;
  overflow-x: scroll;
  -webkit-transition: 0.1s ease;
}

ul.features {
 display: block;
 padding: 0;
 margin: 0;
 display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
}

ul.features li {
  position: relative;
 display: block;
 width: 9em;
 min-height: 8em;
 margin: 0 1em 0.5em 0;
 padding: 0.5em;
 overflow: hidden;
}

ul.features li:before {
  content: ".";
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #bbb;
}

.zoom ul.features li:before {
  border-width: 2px;
}

h2 + div {
    padding-top: 40px;
}

div.zoom {
    font-size: 100%;
}

div, div a {
    cursor: -webkit-zoom-in;
}

div.zoom, div.zoom a {
  cursor: -webkit-zoom-out;
}