* {
  font-size: inherit;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  font-size: inherit; }

.page-index {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 25px;
  font-size: 20px;
  position: relative; }
  .page-index nav {
    display: none; }
  .page-index header {
    margin: 1em 0 4em;
    overflow: hidden; }
  .page-index h1 {
    float: left;
    margin: 0; }
  .page-index header a {
    float: right; }
  .page-index li {
    clear: both;
    font-size: 200%;
    padding: 1em 0; }
  .page-index h2 {
    position: relative;
    float: right;
    width: 100%;
    margin-top: 0;
    border-top: 1px solid #ccc;
    padding-top: 18px;
    margin-top: 20px; }

.page-map {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 25px;
  font-size: 20px;
  position: relative; }
  .page-map nav {
    display: none; }
  .page-map ul.needs {
    display: block;
    padding: 0.5em 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .page-map .count-1 {
    width: 10em; }
  .page-map .count-2 {
    width: 20em; }
  .page-map .count-3 {
    width: 30em; }
  .page-map .count-4 {
    width: 40em; }
  .page-map .count-5 {
    width: 50em; }
  .page-map .count-6 {
    width: 60em; }
  .page-map .count-7 {
    width: 70em; }
  .page-map .count-8 {
    width: 80em; }
  .page-map .count-9 {
    width: 90em; }
  .page-map .count-10 {
    width: 100em; }
  .page-map .count-11 {
    width: 110em; }
  .page-map .count-12 {
    width: 120em; }
  .page-map .count-13 {
    width: 130em; }
  .page-map .count-14 {
    width: 140em; }
  .page-map .count-15 {
    width: 150em; }
  .page-map .count-16 {
    width: 160em; }
  .page-map .count-17 {
    width: 170em; }
  .page-map .needs li {
    position: relative;
    display: black;
    width: 9em;
    min-height: 8em;
    margin: 0 1em 0.5em 0;
    padding: 0.5em;
    background: #e6fb86;
    overflow: hidden; }
  .page-map ul a {
    text-decoration: none;
    color: inherit; }
  .page-map ul a:hover {
    text-decoration: underline; }
  .page-map header {
    margin: 1em 0 4em;
    overflow: hidden; }
  .page-map h1 {
    float: left;
    margin: 0; }
  .page-map header > a {
    float: right; }
  .page-map h2 {
    position: relative;
    float: right;
    margin-right: -100%;
    right: 100%;
    width: 20%;
    padding-right: 80%;
    margin-top: 0;
    border-top: 1px solid #ccc;
    padding-top: 18px;
    margin-top: 20px; }
  .page-map h3 {
    margin: 0 0 0.5em;
    font-size: 20px; }
  .page-map h4 {
    margin: 0 0 1em; }
  .page-map div {
    position: relative;
    margin-left: 25%;
    font-size: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: left;
    overflow-x: scroll;
    -webkit-transition: 0.1s ease; }
  .page-map ul.features {
    display: block;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .page-map ul.features li {
    position: relative;
    display: block;
    width: 9em;
    min-height: 8em;
    margin: 0 1em 0.5em 0;
    padding: 0.5em;
    overflow: hidden; }
  .page-map ul.features li:before {
    content: ".";
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid grey; }
  .page-map ul.features li a {
    position: relative; }
  .page-map .zoom ul.features li:before {
    border-width: 2px; }
  .page-map h2 + div {
    padding-top: 40px; }
  .page-map div.zoom {
    font-size: 100%;
    cursor: -webkit-zoom-out; }
  .page-map div {
    cursor: -webkit-zoom-in; }

.page-need {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 25px;
  font-size: 20px;
  position: relative; }
  .page-need header {
    margin: 1em 0 4em;
    overflow: hidden; }
  .page-need h1 {
    clear: both;
    font-size: 200%;
    padding: 1em 0;
    max-width: 20em; }
  .page-need header h4 {
    float: left;
    margin: 0;
    clear: both;
    font-weight: inherit; }
  .page-need header > a {
    float: right; }
  .page-need p {
    clear: both;
    max-width: 35em; }
  .page-need iframe {
    width: 100%;
    display: block;
    margin: 2em 0; }
  .page-need header + p {
    font-size: 125%;
    max-width: 29em; }
  .page-need h2 {
    position: relative;
    float: right;
    width: 100%;
    font-size: 125%;
    margin-top: 0;
    border-top: 1px solid #ccc;
    padding-top: 18px;
    margin-top: 20px; }
  .page-need h3 {
    position: relative;
    float: right;
    width: 100%;
    font-weight: bold;
    margin-top: 0;
    border-top: 1px solid #ccc;
    padding-top: 18px;
    margin-top: 20px; }
  .page-need h4 {
    font-weight: bold;
    margin-bottom: 0; }
  .page-need blockquote {
    padding: 0;
    margin-left: 2em;
    max-width: 33em;
    font-style: italic; }
  .page-need blockquote p:only-child {
    font-size: 150%; }
  .page-need blockquote p:first-child:before {
    position: relative;
    display: inline-block;
    width: 0.65em;
    margin-left: -0.65em;
    content: "\201C"; }
  .page-need blockquote p:last-child:after {
    content: "\201D"; }
  .page-need ol, .page-need ul {
    margin-top: 0; }
