---
title: Map
layout: default
---

<header>
  {% for mapname in site.data.map.name %}
    {{  mapname }}
  {% endfor %}
  <a href="index.html">All maps</a>
</header>


{% for task in site.data.map.tasks %}
  Task: {{  task.name }} <br><br>

  {% for subtask in task.subtasks %}

    Subtask: {{ subtask.name }} <br><br>

    Needs:
    {% for need in subtask.needs %}
      {{ need }} <br><br>
    {% endfor %}

    Features:
    {% for feature in subtask.features %}
      {{ feature }} <br><br>
    {% endfor %}

  {% endfor %}

  <br><br>
{% endfor %}